body {
    padding: 10px;
}

input {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

p {
    font-size: 18px;
    line-height: 28px;
    font-family: Georgia, serif;
    color: #333;
}